@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.trip-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
/* Mobile styles */
@media (max-width: 639px) {
  .trip-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 column on mobile */
  }
}

/* Tablet styles */
@media (min-width: 640px) and (max-width: 1023px) {
  .trip-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet */
  }
}

/* Large screens */
@media (min-width: 1024px) {
  .trip-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 3 or more columns on larger screens */
  }
}